header {
    background: radial-gradient(white,red);
    font-family: "Joti One", cursive, Helvetica;
    font-size: 32px;
    text-align: center;
    width: 100vw;
    height: 20vh;
    padding: 0;
    margin:0;
  }
.header-text {
    font-size: 75px;
    text-emphasis: none;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 2.5vh;
  }

.aligncenter {
  text-align: center;
  padding-right:50%;
}
  body {
    padding:0;
     margin:0;
     background-repeat: no-repeat;
     background-image:url('images/background2.jpg');
     background-size: cover;
     background-attachment: fixed;
 }
.inputbox {
  margin-left:10px  !important;
}
nav{
  background: black;
  padding: 0 10px;
  font-family: sans-serif;
  height: 5vh;
}
nav a{
    color:#ccc !important;
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    font-size:20px;
}
nav a:hover {
    color: green !important;
}
a:visited {
  color:black;
}
a {
  color:black;
}
a:hover {
  color: green;
}
tr,table,td,th {
  border-width: 1px;
  border:2px solid black;
  margin-left:10px;
  border-collapse: collapse;
}
.paddingLeft {
  padding-left: 10px;
}
.morePadding {
  padding-left: 30px;
}
.reviewStyle {
  background-color:#ff9933;
  margin-bottom:25px;
  width:50vw;
  position:center;
  border: 2px solid black;
  border-radius:2px !important;
  padding:12px;
  box-sizing: border-box;
}
.reviewStyle:any-link {
  text-decoration: none;
}
.search {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.searchButton {
  padding: 6px 10px;
  margin-top:8px;
  width:40px;
  height:20px;
}
.buttonPrimary {
  background-color: #ff0a0a;
  padding: 8px 15px;
  border-radius: 4px;
  border: 2px solid black;
  font-size:14px;
  display: inline-block;
}
.buttonPrimary:hover {
  background-color: #fc6d6d;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.buttonSecondary {
  background-color: #ff0a0a;
  padding: 8px 15px;
  border-radius: 4px;
  border: 2px solid black;
  font-size:14px;
  display: inline-block;
}
.buttonSecondary:hover {
  background-color: #fc4e03;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.homeButton {
  background-color: #deca16;
  padding: 8px 15px;
  border-radius: 4px;
  border: 2px solid black;
  font-size:14px;
  display: inline-block;
}
.homeButton:hover {
  background-color: #ffe600;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.formStyle {
  padding:6px 10px;
  box-sizing: border-box;
  border-radius: 4px;
}
.centerText {
  padding-top:10px;
  padding-left:25%;
}
p {
  font-size: 120%;
}
.centerbutton {
  padding-left:8%;
}
.reportButton {
  position: absolute;
  right: 0%;
}
.report {
  position: relative;
  height:22px;
}
.questionText {
  font-size:100%;
}
.echoText {
  font-size:90%;
}
.individualReview {
  border-radius: 1px;
}
@media only screen and (min-width : 720px) {
  .mobile {
    padding-left:35%;
    padding-top:20px;
  }

  .echoText {
    font-size:100%;
  }
  .browse {
    padding-left:25%;
  }
  .searchBar {
    size:20vw;
  }
}
@media only screen and (max-width : 720px) {
  nav a {
font-size: 16px;
  }
}